@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


html {
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
}

header {
  background-image: url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 15rem;
  width: 100%;
}

.cards {
  position: relative;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.img-1,
.front-page>img,
.back-page>img {
  width: 100%;
}

.front-page,
.back-page {
  width: 18rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: 10px 30px 30px hsla(278, 68%, 11%, 0.1);
}

.front-page {
  top: 7.5rem;
  left: 0.25rem;
  z-index: 1;
}

.front-page-info {
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1.5rem;
  bottom: 1rem;
}

.img-1-1 {
  width: 3.25rem;
  margin-bottom: 2.5rem;
}

h1 {
  margin-bottom: 1.25rem;
  font-size: 1.05rem;
  letter-spacing: 0.2rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  opacity: 0.8;
  text-transform: uppercase;
}

.back-page {
  top: -8rem;
  right: -3.75rem;
  z-index: 0;
}

.cvc-content {
  font-size: 0.75rem;
  position: absolute;
  top: 4.5rem;
  right: 2.2rem;
  color: hsl(270, 3%, 87%);
  letter-spacing: 0.05rem;
}

.input-details {
  max-width: 350px;
  margin-top: 8.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h4,
h5 {
  color: hsl(278, 68%, 11%);
}

.input-1,
.input-2,
.date {
  margin-bottom: 1rem;
  margin-right: 1.75rem;
}

.date {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 0.3rem;
}

input {
  font-family: 'Space Grotesk', sans-serif;
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(270, 3%, 87%);
  outline: none;
  margin-bottom: 0.3rem;
}

form input:focus {
  border-image: linear-gradient(to bottom,
      hsl(249, 99%, 64%),
      hsl(249, 99%, 64%));
  border-image-slice: 1;
  border-radius: 0.5rem !important;
  /* Not Applied */
}

.exp-date>input {
  width: 3rem;
  display: inline;
}

::placeholder {
  color: hsl(279, 6%, 55%);
  opacity: 0.5;
}

button {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  padding: 0.75rem;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  transition: all 0.7s;
}

button:hover {
  cursor: pointer;
  background-color: hsl(270, 3%, 87%);
  color: hsl(278, 68%, 11%);
}

.error-msg {
  display: none;
  font-size: 0.65rem;
  color: hsl(0, 100%, 66%);
}

.input-err {
  border-color: hsl(0, 100%, 66%);
}

.err-msg {
  display: block;
}


/* Completed section */
.completed {
  max-width: 330px;
  text-align: center;
  margin: 5.5rem auto 1rem;
  display: none;
}

.completed img {
  margin: 0 auto 2rem;
}

h5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.completed-p {
  margin-bottom: 2.5rem;
  color: hsl(279, 6%, 55%);
}

@media screen and (min-width: 600px) and (max-width: 1023px) {

  .completed,
  .input-details {
    width: 100%;
    max-width: 400px;
  }

  .front-page,
  .back-page {
    width: 20.5rem;
  }

  .front-page {
    left: -2rem;
    top: 9rem;
  }

  .front-page-info {
    top: 1.25rem;
    left: 1.25rem;
    bottom: 1.25rem;
  }

  .img-1-1 {
    margin-bottom: 3.5rem;
    width: 4rem;
  }

  .back-page {
    top: -9rem;
  }

  .cvc-content {
    top: 5.1rem;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    min-height: 100vh;
    background: url(images/bg-main-desktop.png) left top no-repeat;
    background-size: 33% 100vh;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  header {
    background-image: none;
    width: 55%;
  }

  .front-page,
  .back-page {
    width: 25rem;
  }

  .front-page {
    top: -8rem;
  }

  .front-page-info {
    top: 1.5rem;
    left: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2,
  h3 {
    font-size: 1rem;
  }

  .img-1-1 {
    width: 5rem;
    margin-bottom: 4rem;
  }

  .back-page {
    top: -6rem;
  }

  .cvc-content {
    top: 6.2rem;
    right: 3rem;
    font-size: 1rem;
  }

  .input-details {
    margin: 0;
  }

  .cards {
    margin: none;
  }

  h4 {
    font-size: 0.9rem;
  }

  .input-details {
    max-width: 380px;
  }

  input {
    padding: 0.7rem;
    font-size: 1.1rem;
  }

  button {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .completed {
    width: 100%;
    margin: 0;
    margin-left: 2rem;
    max-width: 380px;
  }

  h5 {
    font-size: 2rem;
  }

  .completed-p {
    font-size: 1.25rem;
  }
}