@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
}

header {
  background-image: url(./images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 15rem;
  width: 100%;
}

.cartoes {
  position: relative;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.img_1,
.frente>img,
.verso>img {
  width: 100%;
}

.frente,
.verso {
  width: 18rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: 10px 30px 30px hsla(278, 68%, 11%, 0.1);
}

.frente {
  top: 7.5rem;
  left: 0, 25rem;
  z-index: 1;
}

.frente_info {
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1.5rem;
  bottom: 1rem;
}

.img_1 {
  width: 3.25rem;
  margin-bottom: 2.5rem;
}

h1 {
  margin-bottom: 1.25rem;
  font-size: 1.05rem;
  letter-spacing: 0.2rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  opacity: 0.8;
  text-transform: uppercase;
}

.verso {
  top: -8rem;
  right: -3.75rem;
  z-index: 0;
}

.cvc {
  font-size: 0.75rem;
  position: absolute;
  top: 4.5rem;
  right: 2.2rem;
  color: hsl(270, 3%, 87%);
  letter-spacing: 0.05;
}

.input-detalhes {
  max-width: 350px;
  margin-top: 8.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h4,
h5 {
  color: hsl(278, 68%, 11%);
}

.input-1,
.input-2,
.date {
  margin-bottom: 1rem;
  margin-right: 1.75rem;
}

.data {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 0.3rem
}

imput {
  font-family: 'Space Grotesk', sans-serif;
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  border-left: 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(270, 3%, 87%);
  outline: none;
  margin-bottom: 0.3rem;
}

from input:focus {
  border-image: linear-gradient(to bottom,
      hsl(249, 99%, 64%),
      hsl(249, 99%, 64%));
  border-image-slice: 1;
  border-radius: 0.5rem !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}